PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
PUBLIC_SUPABASE_BUCKET=portfolio
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_ALLOWED_EMAILS=aldryckmedinaseverino@gmail.com,dqlizano18@gmail.com
PUBLIC_ADMIN_ALLOWED_EMAILS=aldryckmedinaseverino@gmail.com,dqlizano18@gmail.com
PUBLIC_ADMIN_DEFAULT_EMAIL=aldryckmedinaseverino@gmail.com
ADMIN_DEFAULT_PASSWORD=
