---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import AboutSection from "../components/AboutSection.astro";
import GalleryGrid from "../components/GalleryGrid.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <AboutSection />
    <GalleryGrid />
    <ContactCTA />
  </main>
  <Footer />
</Layout>
